/* Styles defined for the desktop or the bigger screen devices*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* Header Navbar Styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100 %;
    background-color: #0a665b;
}

.logo {
    padding: 0 5 rem;
}

.logo .logo-heading {
    color: #fff;
}

.menu {
    padding: 0 5 rem;
}

.cross-icon {
    display: none;
}

.menu .menu-list {
    display: flex;
    list-style: none;
}

.menu-list .menu-list-items {
    padding: 0.5 rem 1 rem;
}

@media screen and (min-width: 856 px) and (max-width: 1024px) {
    .menu-list .menu-list-items {
        padding: 0.5 rem 0.3 rem;
    }
}

/* Main Hero Section Styles */
.hero {
    background-image: url("   ");
    background-repeat: no-repeat;
    background-size: 100 % 100 %;
    width: 100 %;
    height: 80 vh;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 4.8 rem 0;
}

.hero .intro {
    text-align: center;
    margin: 0 5 rem;
}

.hero .intro-buttons {
    margin: 2 rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* About section styles */
.about {
    display: flex;
    align-items: center;
    background-image: linear-gradient (90 deg, #0a665b, #35A99C);
    justify-content: space-between;
    width: 100 %;
}

.about .about-text {
    width: 450 px;
    color: #fff;
    padding: 5 rem 1 rem 5 rem 5 rem;
}

.about .about-image img {
    height: 300 px;
    width: 400 px;
    padding: 5 rem 5 rem 5 rem 1 rem;
}
.about-image img {
    border-radius: 50 %;
}
   
/* Portfolio section & project section styles */
.portfolio {
    margin: 4.8 rem 0;
    padding: 0 5 rem;
}

.port-card {
    padding: 0  !important ;
    background: none !important;
    border: 2 px solid #000;
}

.port-card .image {
    width: 100 %;
}

.port-card .image img {
    height: 200 px;
    width: 100 %;
    border-top-right-radius: 20 px;
    border-top-left-radius: 20 px;
}

/* Services section styles */
.services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4.8 rem 0;
    padding: 0 5 rem;
}

.my-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2 rem 0;
}

.my-row .my-col {
    text-align: center;
    width: 30 %;
}

.my-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20 px;
    background-image: linear-gradient (#0a665b, #2c8174, #35A99C);
    padding: 1 rem;
}

.icon {
    height: 50 px;
    width: 50 px;
    border-radius: 50 %;
    background-color: #0a665b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon svg {
    font-size: 30 px;
    color: #fff;
}

/* Contact section styles */
.contact {
    padding: 0 5 rem;
}

.contact-content {
    display: flex;
    margin: 3 rem 0;
    justify-content: space-between;
}

.contact-form-container {
    width: 50 %;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form .form-controls {
    width: 80 %;
    padding: 10 px 0;
    margin: 1.67 rem 0;
}

.contact-form .form-btn {
    width: 83 %;
}

.contact-details {
    width: 50 %;
}

/* Footer Styles */
.footer {
    background-color: #0a665b;
    color: #fff;
    padding: 1 rem;
}
.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* utility classes */
.greet-heading {
    font-size: 1.3 rem;
    font-weight: lighter;
    margin: 0;
    letter-spacing: 1 px;
}

.my-heading {
    font-size: 2.5 rem;
    margin: 0;
}

.sub-heading {
    margin: 0;
    font-size: 1 rem;
    color: #656262;
    font-weight: lighter;
}

.links:hover {
    border-bottom: 2 px solid #fff;
}

.links {
    border-bottom: 2 px solid transparent;
    transition: all 0.25 s;
    padding: 5 px;
    text-decoration: none;
    color: #fff;
}

.btn {
    padding: 10 px 20 px;
    border-radius: 5 px;
    cursor: pointer;
    letter-spacing: 1 px;
    border: none;
}
.common-btn {
    background-color: #0a665b;
    color: #fff;
    border: 2 px solid #0a665b;
    transition: all 0.25 s;
    width: 200 px;
}

.common-btn:hover {
    background-color: #fff;
    color: #0a665b;
    border: 2 px solid #0a665b;
    outline: none;
}

.ghost-btn {
    background-color: #fff;
    color: #0a665b;
    border: 2 px solid #0a665b;
    outline: none;
    width: 200 px;
}

.ghost-btn:hover {
    background-color: #0a665b;
    color: #fff;
    transition: all 0.25 s;
    border: 2 px solid #0a665b;
}

.heading-span {
    font-weight: bolder;
}

.text-center {
    text-align: center;
}

.small-para {
    font-size: 14 px;
    color: #fff;
}

.white-text {
    color: #fff;
}

.blue-text {
    color: #0a665b;
}

.footer-content text-center {
    position: absolute;
    bottom: 40 px;
    width: 150 px;
    display: flex;
    justify-content: space-between;
   
}

.social-links{
    gap: 10 px;
}

.social-links a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40 px;
    height: 40 px;
    background: transparent;
    border: 2 px solid #fff;
    border-radius: 50 %;
    font-size: 20 px;
    color: #fff;
    text-decoration: none;
}

.social-links a:hover{
    color: #0a665b;
}

